* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1200px;
  /* padding: 30px; */
  margin: 0 auto;
}
.font-color {
  color: #ffad5a;
}
.btn {
  background-color: #ff5959;
  color: white;
  padding: 7px 36px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
}

.header-content {
  display: flex;
  align-items: center;
}
.scrool-down {
  margin-top: 30px;
}
.flex {
  display: flex;
}
.half-width {
  width: 50%;
}
.header-title {
  border-left: 3px solid #ff5959;
  margin-bottom: 22px;
}
.header-title h1 {
  font-size: 60px;
  padding-left: 30px;
  font-family: "Yeseva One", cursive;
}

.header-image {
  text-align: right;
}
.header-image img {
  width: 80%;
}
